.heading {
  margin-top: 2rem;
  text-align: center;
}

.subheading {
  margin-top: 1rem;
  text-align: center;
}

.ColorBoxes {
  margin: 0 auto;
  height: 80%;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}